/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 5, 2023, 4:48:00 PM
    Author     : Dqgcvt
*/
.drag-area {
    aspect-ratio : 1 / 1;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}
.drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}
.drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}
.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
}
.drag-area.active {
    border: 2px solid #1683ff;
}
.drag-area img {
    height: 100%;
    object-fit: cover;
}